<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:insert="fragments.html :: header-eng"></div>
</head>
<body>
<div th:replace="fragments.html :: #menu-eng"></div>

<div id="content">
    <h1> Edit country</h1>

    <a class="edit-countries-table" href="/admin/country/add">Add Country</a>
    <table>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="country : ${countries}">
            <td th:text="${country.nameEng}"></td>
            <td><a class="edit-countries-table" th:href="@{/edit/country/{countryId}(countryId=${country.getId})}">Edit</a>
            <td><a class="edit-countries-table" th:href="@{/delete/country/{countryId}(countryId=${country.getId})}">Delete</a></td>
        </tr>
        <br>

    </table>

</div>
</body>
</html>
