<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--      xmlns="http://www.w3.org/1999/html">-->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/scripts/select.js"></script>
    <title>Travel Memories</title>
</head>

<body>
<div th:replace="fragments.html :: #menu-eng"></div>
<div class="content">

    <h1>Nowy test 5</h1>

    <form method="post">
        <div id="select-boxes">
            <select id="country" onchange="update()">
                <option value="0" text="pick country" selected="pick country">pick country</option>
                <div th:each="element : ${elements}">
                    <option th:value="${element.country.id}"
                            th:text="${element.country.nameEng}"></option>
                </div>
            </select>
            <select id="city" name="cityId">
                <option value="0" text="pick city" selected="pick city">pick city</option>
            </select>
        </div>
        <input type="submit" value="OK">
    </form>

    <h3 id="city-test"></h3>

    <script th:inline="javascript">

        function update() {
            let countriesAndCities = [[${elements}]];
            getCities(countriesAndCities);
        }
    </script>

</div>

</body>
</html>