<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--      xmlns="http://www.w3.org/1999/html">-->
<head>
    <meta charset="UTF-8">
    <div th:insert="fragments.html :: header-eng"></div>
</head>

<body>
<div th:replace="fragments.html :: #menu-eng"></div>

<div class="content">
    <form method="POST" th:object="${city}">
        <input type="text" placeholder="Name in English" th:field="*{nameEng}">
        <input type="text" placeholder="Nazwa po polsku" th:field="*{namePol}">

        <select name="country" th:field="*{country.id}">
            <option th:each="country : ${countries}"
                    th:value="${country.id}"
                    th:text="${country.nameEng}">
            </option>
        </select>
        <input type="submit" value="OK">
    </form>
    <a class="edit-countries-table" href="/add/picture/country">Add Country</a>


</div>

</body>
</html>