
.logo {
    height: 100px;
    width: 110px;
    display: inline-block;
}
.logo img {
    height: 100%;
    width: 100%;
}
.menu-div {
    height: 110px;
    width: fit-content;
    border-bottom: 1px solid cornflowerblue;
}
.main-menu a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    /*margin: 30px 30px 30px;*/
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
    transition: color, background 0.5s;
}
.main-menu a:hover {
    background: cornflowerblue;
    color: white;
}
.login-info {
    font-size: 12px;
    color: black;
    display: inline-block;
}
.years-list .years-and-months .months {
    display: inline-block;
}
.country-list .city-list {
    display: inline-block;
}

.city {
    display: inline-block;
}
.picture-horizontal {
    width: 200px;
    height: 115px;
}
.picture-horizontal img {
    width: 100%;
}
.picture-vertical {
    width: 115px;
    height: 200px;
}
.picture-vertical img {
    height: 100%;
}

.picture {
    display: inline-block;
    margin: 5px;
}
.heading-years {
    height: 30px;
    margin: 20px;
}
.heading-years-item {
    font-size: 20px;
    display: inline-block;
    margin: 10px;
}
.headings-cities-element {
    display: inline-block;
}
