<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
<div th:replace="fragments.html :: #menu-eng"></div>
<div class="content">
  <form method="POST" th:object="${country}">
    <input type="text" placeholder="Name in English" th:field="*{nameEng}">
    <input type="text" placeholder="Nazwa po polsku" th:field="*{namePol}">
    <input type="submit" value="OK">
  </form>
</div>
</body>
</html>
