<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:insert="fragments.html :: header-eng"></div>
</head>
<body>

<div th:replace="fragments.html :: #menu-eng"></div>
<div id="content">
    <div class="headings-cities">
        <div class="headings-cities-element" th:text="${city.getNameEng()}"></div>
        <div class="headings-cities-element" th:text="${city.getCountry().getNameEng()}"></div>
    </div>
    <div class="dates-list" th:each="element : ${elements}">
        <div class="years-and-months">
            <div class="years" th:text="${element.getYear()}">
            </div>
            <div class="months" th:each="month: ${element.getMonths()}">
                <a th:text="${month}" th:href="@{
                     /pictures/{year}/{month}/{id}(year=${element.getYear()}, month=${month}, id=${city.getId()})}"></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>