<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div th:replace="fragments.html :: #menu-eng"></div>
<div id="content">

    <div class="country-list" th:each="element : ${elements}">
        <div th:text="${element.getCountry().getNameEng()}"></div>
        <div class="city-list" th:each="city : ${element.getCities()}">
            <a th:text="${city.getNameEng()}" th:href="@{/countries/{city}(city=${city.getId()})}"></a>
        </div>
    </div>

</div>
</body>
</html>