<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/links.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Travel Memories</title>
</head>
<body>
<!--<div id="menu-eng" th:fragment="menu-eng" >-->
<!--    <nav class="navbar navbar-expand-lg bg-light">-->
<!--        <div class="container-fluid">-->
<!--            <a class="navbar-brand" href="#">-->
<!--                <img src="/img/earth_small_white.jpg" alt="logo">-->
<!--            </a>-->
<!--            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"-->
<!--                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"-->
<!--                    aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" aria-current="page" href="/years">Years</a>-->
<!--                    <a class="nav-link active" aria-current="page" href="/countries">Countries</a>-->
<!--                    <a class="nav-link active" aria-current="page" href="/admin">Manage</a>-->
<!--                    <a class="nav-link active" aria-current="page" href="/login" th:if="${logged == false}">Login</a>-->
<!--                    <a class="nav-link active" aria-current="page" href="/logout" th:if="${logged == true}">Wyloguj</a>-->

<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </nav>-->
<!--</div>-->

<div class="main-menu" id="menu-eng" th:fragment="menu-eng">
    <div class="logo">
        <img th:src="@{/files/logo_new.jpg}" alt="logo">
    </div>

    <div class="menu-div">

        <a class="menu-item" href="/years">Years</a>
        <a class="menu-item" href="/countries">Countries</a>
        <a class="menu-item" href="/admin">Manage</a>
        <a class="menu-item" href="/login" th:if="${logged == false}">Login</a>
        <a class="menu-item" href="/logout" th:if="${logged == true}">Logout</a>

        <div class="login-info" th:if="${logged == true}" th:text="'logged as: ' + ${user.name}"
             id="user-login"></div>
    </div>
</div>

<div class="header" th:fragment="header-eng">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/links.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Travel Memories</title>
</div>

</body>
</html>