<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Travel Memories</title>
</head>
<body>
<div class="main-menu" id="menu-eng" th:fragment="menu-eng">
    <div class="menu-div">
        <div class="logo">
            <img src="/img/logo.jpg" alt="logo">
        </div>
        <a href="/years">Years</a>
        <a href="/countries">Countries</a>
        <a href="/add/picture">Add Picture</a>
        <a href="/admin">Manage</a>
        <a href="/login" th:if="${logged == false}">Login</a>
        <a href="/logout" th:if="${logged == true}">Wyloguj</a>

        <div class="login-info" th:if="${logged == true}" th:text="'Zalogowany jako: ' + ${user.name}" id="user-login"></div>
    </div>
</div>
</body>
</html>