<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:insert="fragments.html :: header-eng"></div>

<!--    <script src="/validation.js"></script>-->
</head>
<body>
<div th:replace="fragments.html :: #menu-eng"></div>
<div id="content">
    <form method="post">
        <input type="text" placeholder="Login" name="login" id="login">
        <input type="password" placeholder="password" name="password" id="password">
        <input type="submit" value="Login">
    </form>
</div>
</body>
</html>