<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:insert="fragments.html :: header-eng"></div>

    <!--    <script src="/validation.js"></script>-->
</head>
<body>

<div th:replace="fragments.html :: #menu-eng"></div>
<div id="content">
    <div class="heading-years">
        <div class="heading-years-item" th:text="${year}"></div>
        <div class="heading-years-item" th:text="${month}"></div>
        <div class="heading-years-item" th:text="${city.getNameEng()}"></div>
    </div>
    <div class="picture" th:each="picture : ${pictures}">
        <div th:class="${picture.getOrientation().equals(picture.getOrientation().VERTICAL) ? 'picture-vertical' : 'picture-horizontal'}">
            <img th:src="@{/files/{picture} (picture=${picture.getFileName()})}"/>
        </div>
    </div>

</div>
</body>
</html>