<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/links.css">
  <!--    <script src="/validation.js"></script>-->
  <title>Travel Memories</title>
</head>
<body>

<h2>
  <div th:text="${country.getNameEng()}"></div>
</h2>
<!--<h2>-->
<!--  <div th:text="${city.getNameEng()}"></div>-->
<!--  <div th:text="${city.getNamePol()}"></div>-->
<!--</h2>-->

</body>
</html>