<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--      xmlns="http://www.w3.org/1999/html">-->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
<!--    <script src="/scripts/select.js"></script>-->
    <title>Travel Memories</title>
</head>

<body>
<div th:replace="fragments.html :: #menu-eng"></div>
<div class="content">

        <select id="country" th:onchange="update()">
            <div th:each="country : ${countries}">
                <option th:value="${country.nameEng}"
                        th:text="${country.nameEng}"></option>
            </div>
        </select>

    <div th:text="${testname}"></div>

    <input type="text" id="value">
    <p id="text"></p>

    <select id="country-2">

    </select>

    <div th:text="${cities.size()}"></div>

    <script th:inline="javascript">

        function update() {
            var select = document.getElementById('country');
            var option = select.options[select.selectedIndex];

            document.getElementById('value').value = option.value;
            document.getElementById('text').innerText = [[${testname}]];

            var selectSelect = document.getElementById("country-2");
            const optionList = [[${countries}]];

            for (let i = 0; i < optionList.length; i++) {
                let optionItem = document.createElement("option");
                optionItem.value = optionList[i].namePol;
                optionItem.text = optionList[i].namePol;
                selectSelect.appendChild(optionItem);
            }


        }
    </script>

</div>

</body>
</html>